<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35959887505-a8gqgfoks8atqi7jara0f9q0if6p7trg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35959887505-a8gqgfoks8atqi7jara0f9q0if6p7trg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>35959887505-dovbo01dm5f8h7o76tt70e0gmninnob7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDk_1xPTHkDQINxxuzSIozHFFjc12taTcI</string>
	<key>GCM_SENDER_ID</key>
	<string>35959887505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techmatha.potential</string>
	<key>PROJECT_ID</key>
	<string>potential-375415</string>
	<key>STORAGE_BUCKET</key>
	<string>potential-375415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35959887505:ios:1b2f6711b041a745611130</string>
</dict>
</plist>